* {
  box-sizing: border-box;
}
:root {
  --primary-color: #5c56b4;
  --secondary-color: #f7bf57;
  --tertiary-color: #f5f1ec;
}

body {
  font-family: "Anybody", cursive;
  font-family: "Manrope", sans-serif;
  background: #f5f1ec;
  margin: 0;
}

/* START NAVBAR*/
.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;

  border-radius: 10px;
  margin-top: 15px;
  z-index: 999;
}

.navbar a {
  color: var(--secondary-color);
  font-size: 20px;
  font-weight: 400px;
  padding: 14px 16px;
  text-decoration: none;
}

.hover:hover,
.icon:hover {
  background-color: var(--secondary-color);
  color: #7e4b33;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
}

/* START HERO */
.hero {
  height: 600px;
  width: 1500px;
  background-repeat: no-repeat;
  background-image: url(./images/pexels-beige.jpg);
  background-size: 1200px 600px;
  margin-bottom: 0;
}

.hero-text {
  font-weight: 500;
  font-family: "Anybody";
  font-size: 2em;
  color: var(--secondary-color);
  text-align: center;
  padding-top: 150px;
}

.hero-text h1 {
  font-weight: 500;
  font-size: 3em;
  margin-bottom: 0;
  color: var(--secondary-color);
  font-style: italic;
}

.hero-text p {
  margin: 0;
  margin-top: 25px;
}

.ul-social {
  text-align: center;
  padding-left: 0;
}

.li-social-links {
  display: inline-block;
  list-style: none;
}

.social {
  font-size: 2em;
  color: var(--secondary-color);
  padding: 20px;
}

#arrow {
  margin-top: auto;
  text-align: center;
  margin-bottom: 50px;
}

#arrow a {
  color: var(--secondary-color);
}

.row {
  display: flex;
  position: relative;
}
.box-shadow {
  box-shadow: 0px 1px 1px 0px rgba(148, 130, 120, 0.75);
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.heading-primary-animation {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 15px;
  animation: moveInLeft 5s ease-out;
}
.heading-secondary-animation {
  display: block;
  font-size: 60px;
  font-weight: 400;
  font-weight: 500px;
  animation: moveInRight 5s ease-out;
}

.about-me-title {
  font-weight: 600;
  font-size: 2rem;
  color: #7e4b33;
  position: relative;
  text-align: center;
  background-color: white;
  padding: 10px;
  width: 50%;
  border-radius: 10px;
  left: 25%;
}

.about-me-text {
  display: inline-flex;
  position: relative;
  text-align: center;
  width: 90%;
  height: 180px;
  background-color: #ffffff;
  color: #7e4b33;
  padding: 40px 20px 20px 20px;
  font-size: 1rem;
  border-color: #918b96;
  border-radius: 10px;
  left: 5%;
}

.content {
  /* font-size: 80px; */
  margin-bottom: 20px;
  width: 100%;
}
.about-header {
  padding-top: 20px;
}
.sectionBorder {
  border-top: 1px #7e4b33 solid;
}
.about-body {
  position: relative;
  bottom: 35px;
  width: 100%;
  align-content: center;
  padding-top: 60px;
}
.projectsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.projects {
  position: relative;
  padding: 15px;
  margin: 0 15px 0 5px;

  display: flex;
  align-content: center;
  max-width: 400px;
  height: 500px;
  background-color: #ffffff;
  margin-bottom: 20px;
  color: #7e4b33;
}

.work-content {
  display: flex;
  position: relative;
  height: 100%;
}
.project-box {
  position: relative;
  font-size: 12px;
  text-align: center;
  left: 20%;
}

.project-description {
  font-size: 15px;
  position: relative;
  top: 10%;
  color: #7e4b33;
}
a.project-link {
  text-decoration: none;
}

a.project-link:visited {
  color: #7e4b33;
}

.pig-game-title {
  position: relative;
  color: #7e4b33;
  align-content: left;
  right: 25%;
  text-align: left;
}

.project1 {
  width: 100%;
  display: flex;
  flex-direction: column;

  background-size: cover;
  left: 50%;
  margin: 3px 10px 0 5px;
}
.runbuddy-title {
  position: relative;
  color: #7e4b33;
  text-align: left;
  right: 15%;
}

/* START RESUME */
.resume-card {
  position: relative;
  background-color: var(--tertiary-color);
  width: 60%;
  height: 100%;
  color: #7e4b33;
  display: flex;
  justify-content: center;
  margin-left: 20%;
  margin-bottom: 5%;
}

.resumeText {
  background-color: #f5f1ec;
  position: relative;
  width: 50%;
  height: 100%;
  justify-content: center;
  padding-bottom: 20%;
}
.resumeimg {
  width: 50%;
  height: 100%;
  justify-content: center;
}

/* CONTACT ME START */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: var(--secondary-color);
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #726659;
}

/* Style the container/contact section */
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder,
textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder,
textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder,
textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder,
textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder,
textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder,
textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder,
textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder,
textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder,
textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder,
textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder,
textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder,
textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}

header {
  position: relative;
  margin: 100px 0 25px 0;
  font-size: 2.3em;
  text-align: center;
  letter-spacing: 7px;
  color: #726659;
  bottom: 15%;
}

#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}

input {
  font-family: "Lato", sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;

  background: transparent;
  outline: none;
  color: #726659;

  border: solid 1px #b3aca7;
  border-bottom: none;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #b3aca7;
  color: #e2dedb;
}

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;

  background: transparent;
  outline: none;

  color: #726659;
  font-family: "Lato", sans-serif;
  font-size: 0.875em;

  border: solid 1px #b3aca7;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #b3aca7;
  color: #e2dedb;
}

#submit {
  width: 502px;

  padding: 0;
  margin: -5px 0px 0px 0px;

  font-family: "Lato", sans-serif;
  font-size: 0.875em;
  color: #ffffff;

  outline: none;
  cursor: pointer;

  border: solid 1px #b3aca7;
  border-top: none;
}

#submit:hover {
  color: #e2dedb;
}

/* FOOTER START */
footer {
  display: flex;
  justify-content: center;
  color: #726659;
  margin-bottom: 20px;
}
